body{
    background-color: rgb(221, 215, 215);
    height: 150px;
}
#pesquisar{
    width: 150px;
    float: right;
    margin-right: 30px;
}


.d-flex justify-content-center{
    height: 600px;
}
.w-75 p-3 {
    height: 600px;
}

#right {
    float: right;
    margin-top: 30px;
}
